/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}

ion-toolbar > ion-item {
  /*--background: #ff0000;*/
  margin-bottom: 10px;
}

ion-content > ion-title {
  --background: #f0ffff;
  margin-top: 60px;
  margin-bottom: 10px;
}

.Logo {
  height: 100px;
}

a, .FakeLink {
  color:  #eb445a;
  text-decoration: none;
}

.FakeLink:hover, a:hover {
  font-style: italic;
  text-decoration: underline;
}

.FakeLink:hover {
  cursor: pointer;
}

.MainHomeDiv, .RegisterDiv, .LoginDiv, .MapDivContainer, .UsersAccountDiv, .EditAccountDiv, .NewStreetArtDiv, .UpdateStreetArtDiv {
  /*background-image: url(https://s3.amazonaws.com/zenplannerwordpress-stack0/wp-content/uploads/sites/97/2018/09/20141422/Sprinkles-Background.jpg);*/
  /*background-image: url(../background.jpg);*/
  background-image: url(../noise_v2.png);
  padding-left: 10px;
  padding-bottom: 15px;
  background-size: contain;
  width: 325px;
  display: flex;
  justify-content: flex-end;
  border: 4px solid black;
  /*background-color: #ff0000;*/
}

.MainHomeDiv {
  background-image: none;
  background-color: #e05b5b; 
}

.MapDivContainer {
  margin-top: 100px; 
  border: none;
  background-image: none;
}

.MainHomeDiv, .RegisterDiv, .LoginDiv, .RistrictedAuth, .UsersAccountDiv, .EditAccountDiv, .NewStreetArtDiv, .UpdateStreetArtDiv {
  margin: 0 auto;
  margin-top: 100px;
}

.HomePageGraphicDiv {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.HomePageGraphic {
  height: 50vw;
  width: 50vw;
  background-image: url(../HOME.png);
  background-size: cover;
}

.RistrictedAuth {
  text-align: center;
}

.MapDiv {
  margin: 0 auto;
}

.MainHomeDivInfo, .RegisterDivInfo, .LoginDivInfo, .UsersAccountDivInfo, .RistrictedAuthInfo, .EditAccountDivInfo, .NewStreetArtDivInfo, .UpdateStreetArtDivInfo {
  background-color: rgba(255, 255, 255);
  margin-top: -15px;
  margin-right: -15px;
  /*padding: 10px;*/
  padding: 25px;
  border: 4px solid black;
  overflow: scroll;
  width: 490px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.UsersPostsDiv {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px auto;
  width: 500px;
  height: 75%;
  overflow: scroll;
  border: 4px solid black;
  padding: 30px;
}

.SinglePost {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 1px dashed black;
  border-bottom: 1px dashed black;
  margin-top: 10px;
  margin-bottom: 10px;
}

.UsersAccountPage {
  display: flex;
}

.UsersAccountDiv {
  height: 25%;
  background-image: url(https://s3.amazonaws.com/zenplannerwordpress-stack0/wp-content/uploads/sites/97/2018/09/20141422/Sprinkles-Background.jpg);
}

.RegisterForm, .LoginForm, .NewStreetArtForm, .UpdateStreetArtForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*width: 100%;*/
}

.NewStreetArtForm > ion-item, .UpdateStreetArtForm >ion-item {
  width: 75%;
}

ion-menu-toggle > ion-item:hover {
  font-style: italic;
  text-decoration: underline;
  background: #ff0000;
  cursor: pointer;/*
  border-bottom: 1px solid black;*/
}

/*
.testinggg:hover {
  width: 100%;
  cursor: pointer;
  background-image: url('https://media2.giphy.com/headers/emmadarvick/uwy8qT6ytZsV.gif');
  background-size: cover;
  --background: red;
  z-index: 10;
}*/

ion-toast {
  --border-radius: 0;
}

ion-button {
  /*--outline: #000000;*/
  margin-top: 13px;
  --border-radius: 0;
}

ion-app > ion-header > ion-item {
  /*--background: #ffff00;*/
}
ion-split-pane {
  /*--border: none;*/
  margin-top: 50px;
}

/*<ion-item class="LogoutButton item md in-list ion-focusable item-label hydrated">*/
/*.LogoutButton.item.md.in-list.ion-focusable.item-label.hydrated:host {
  --background: red;
  border: none; 
}*/

#main {
  box-shadow: none;
}

.input-wrapper > .item-native {
  background-color: #ff0000;
  border: none;
}

.popover-content.sc-ion-popover-md {  
  border: 2px solid black;
  border-radius: 0;
  background-image: url('../background.jpg');
  background-size: contain;
}

.PopoverInfo > img {
  border: 2px solid black;
}

.PopoverInfo, .DeleteConfirmDiv {
  margin: 10px 10px -2px -2px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 1);
  border: 2px solid black;
}

.DeleteConfirmDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 20px;
  margin: -2px -2px 10px 10px;
}
 